// Non-modular or client styles for asides or sidebars.

aside{
	.block{
		margin-left: 40px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $secondary-color;
	}
	.block-0{
		margin-left: 0;	
		position: relative;
		width: 368px;
		height: 368px;
		background: url(../images/callout-green.png);
		top: -100px;
		left: -20px;
		text-align: center;		
		border: none;
		margin-bottom: -60px;	
		.node{
			padding: 0 50px;
		}
		h2{
			font-size: $h2-font-size;
			padding: 60px 60px 0 60px;
		}
		.field-type-link-field{
			display: inline-block;
			margin: 0 5px;
			.secondary{
				background: $primary-color;
				&:hover{
					background: darken($primary-color, 5%);
				}				
			}
		}
		h5{
			text-align: center;
		}
		
	}
	.views-row{
		margin-bottom: 10px;
	}
	.views-field-title a{
		font-size: 1em;
		line-height: 1.4;
		font-family: $global-alt-font-family;
		font-weight: normal;
	} 
	.views-field-body{
		font-size: 0.9em;
		line-height: 1.3;
	}
	h5{
		line-height: 1.3;
		padding: 0;
		margin: 0;
	}
	.field-name-field-image-nodeblock{
		img{
			@include border-radius(100px); 				
			max-width: 200px;
			max-height: 200px;
			margin-bottom: 10px;
		}
	}
	.view-agenda {
		.views-field-title a{
			font-family: $global-font-family;			
			display: block;
			margin-left: 70px;
		}
	}
}

aside{
	.block-0.block-finder-content-finder{
		h2{
			padding-top: 40px;			
		}
	}
}	

aside{
	.block-0.block-finder-content-finder{
		h2{
			padding-top: 40px;			
		}
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	aside{
		.block-0.block-finder-content-finder{
			h2{
				padding-top: 40px;			
			}
		}
	}

}

/*
.highlight #finder-block-content_finder-wrapper .form-submit,
aside #finder-block-content_finder-wrapper .form-submit{
	    right: 3px;
	    top: 59px;
	}	
*/


.sidebar-subpage .block-0{
	top: -150px;
	margin-bottom: -100px;		
}

@media all and (max-width: 1070px) and (min-width: 320px) {
	aside .block{
		margin-left: 0;
	}
}

@media all and (max-width: 1070px) and (min-width: 320px) {
	aside{
		.block-block-9	{
			overflow: hidden;
		}
		.block-nodeblock	{
			overflow: hidden;
		}
		.finder-block .block-nodeblock	{
			overflow: auto;
		}
		.block-nodeblock-4117{
			h2{
				font-size: 1.25em;
			}
		}
	}
	aside .block-0{
		margin-left: 0;	
		position: relative;
		z-index: 99;
		background: url(../images/callout-green.png);
		background-size: cover;
		top: -100px;
		left: -60px;
		text-align: center;		
		border: none;
		margin-bottom: -60px;	
		.node{
			padding: 0 50px;
		}
		h2{
			font-size: $h2-font-size;
			padding: 60px 60px 0 60px;
		}
		
	}

}

@media all and (max-width: 1070px) and (min-width: 768px) {
	aside .block-0{
		width: 290px;
		height: 290px;
		top: -100px;
		left: -50px;
		.node{
			padding: 0 20px 0 20px;
		}
		h2{
			font-size: $h2-font-size;
			padding: 40px 0 0
		}
		
		#finder-block-content_finder-wrapper, #views-exposed-form-leverancier-search-page	{
			max-width: 230px !important;
		}
	}
	

}

@media all and (max-width: 767px) and (min-width: 320px) {
	.sidebar-subpage .block-0{
		margin-bottom: 30px;
	}
	aside .block-0{
		position: static;
		width: auto;
		height: 290px;
		margin-bottom: 30px;
		.node{
			padding: 0 20px 0 20px;
		}
		h2{
			font-size: $h2-font-size;
			padding: 40px 50px 0
		}
		
	}

}