// Non-modular or client styles for asides or sidebars.
.featured-bg{
	.block-1,
	h2{
		display: none;
	}
}

.front .section-1{
	section{
		width: 33%;
		display: inline-block;
	}
}

.highlighted{
	background: #eee;
	margin-bottom: 80px;
	h1{
		margin-bottom: 30px;
	}
	.form-item{
		input, textarea{
			background: #fff;
		}
	}
	
}

.highlight{
	h2{
		@extend h3;
		padding-bottom: 5px;
		margin-bottom: 10px;
		margin-top: -5px;
		border-bottom: 4px solid #ddd;		
	}
	h5{
		line-height: 1.3;
		margin: 0;
		font-weight: normal;
		font-family: $global-alt-font-family;
	}
	section{
		width: 47%;
		min-height: 180px;
		float: left;
		margin: -5px 0 5px 0;
		padding: 15px 0 0 0;
		p{
			padding: 0;
			margin: 0;
		}
	}	
	.block-2{
		min-height: 160px;
		clear: both;
	}
	.block-3{
		min-height: 160px;		
	}
	.block-1,.block-3,.block-5{
		margin-left: 6%;
	}	
	.field-type-image{
		float: left;
		img{
			width: 160px;
			height: 160px;
			@include border-radius(250px); 					
			margin-right: 15px;
		}
	}
	.form-item, .form-actions {
		margin-top: 0;
	}
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.highlight{
		overflow: hidden;
		section{
			width: 100%;
			min-height: auto;
			float: none;
			margin: -5px 0 5px 0;
			padding: 15px 0 0 0;
			p{
				padding: 0;
				margin: 0;
				}
			.field-type-image{
				float: none;
			}					
		}	
		.block-1,.block-3,.block-5{
			margin-left: 0;
		}	
		
		#finder-block-content_finder-wrapper{
			max-width: 260px !important;
			button,label{
//				margin-top: 6px;	
			}
		}
	}
}

.triptych{
	overflow: hidden;
	background: transparent url(../images/black-horizontal-line.gif) repeat-x 0 50%;
	.block{
		position: relative;		
	}
}

.triptych-first{
	.block{
		background: #e5e5e5;
		width: 340px;
		height: 340px;
		top: 40px;
		@include border-radius(250px); 		
		.node{
			padding: 50px;
		}
	}
	.rteindent1{
		input, textarea{
			background: #fff;
		}
	}	
	form input.button{
		margin: auto;
		display: block;
		background: #000;
		color: $tertiary-color;
	}
}

.triptych-middle{
	left: -100px;
	.block{
		left: 80px;
		background: #efefef;
		width: 400px;
		height: 400px;
		@include border-radius(250px); 		
	}
	.field-type-image{
		img{
			width: 160px;
			height: 160px;
			margin: auto;
			@include border-radius(250px); 					
			margin-bottom: 10px;
		}
	}
	h2{
		padding: 80px 90px 10px 90px;
		margin: 0;
	}
	.node{
		padding: 0 70px 30px 70px;
	}
}

.triptych-last{
	h2{
		display: none;
	}
	.block{
		top: 120px;	
		left: 80px;
		@include border-radius(250px); 	
		width: 300px;
		height: 300px;		
	}
}

.triptych2{
	overflow: hidden;
	margin: 100px 0;
	.triptych-first{
		.block{	
			width: 300px;
			height: 300px;
			top: 140px;		
			z-index: 99;
			background: transparent url(../images/rounded-bg-1.png) no-repeat 0 0;
			text-align: center;						
		}
		h2, .node{
			padding: 0 50px;
			text-align: center;						
		}
		.more-link{
			text-align: center;
		}
		h2{
			padding-top: 50px;
		}
	}	
	.triptych-middle{
		left: -170px;
		top: 0;
		.block{
			
			background: #fff;
			border: 2px solid #ccc;
			width: 600px;
			height: 600px;
			@include border-radius(350px); 		
		}
		h2{
			margin: 0;
			@extend h1;
			padding: 70px 100px 10px 100px;			
		}
		.node{
			padding: 0 70px 30px 70px;
		}
	}
	.triptych-last{
		h2{
			display: none;
		}
		.block{
			top: 140px;		
			left: 80px;
			background: $secondary-color;
		}
		ul{
			list-style: none;
			position: relative;
			top: 45px;
			left: 55px;			
			li a{
				width: 100px;
				height: 100px;
				display: block;
				position: absolute;
				text-indent: -9999px;
			}
			li.rss a{
				background: transparent url(../images/rss.png) 0 0 no-repeat;				

				top: 100px;
				left: 50px;
			}
			li.twitter a{
				background: transparent url(../images/twitter.png) 0 0 no-repeat;				
			}
			li.facebook a{
				background: transparent url(../images/facebook.png) 0 0 no-repeat;				
				left: 90px;				
			}
		}
		
	}
	
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.triptych-first .block{
		width: auto;	
		height: auto;		
	}
	.triptych-middle .block{
		width: auto;
		height: auto;		
	}
	.triptych-middle{
		left: 0;
	}
	.triptych .block{
		margin: auto;
		left: 0;
	}
	.triptych-last .block{
		left: 0;
		top: -20px;
	}
	.triptych2{
		margin-top: -100px;
	}
	.triptych2 .triptych-middle {
	    left: 0;
	    top: 70px;
	}	
	.triptych2 .triptych-last .block{
		left: 0;
		top: 0;
	}
	
		
}

@media all and (max-width: 767px) and (min-width: 394px) {
	.triptych-first .block{
		width: 340px;
		height: 340px;
		
	}
	.triptych-middle .block{
		width: 400px;
		height: 400px;
	}
}


@media all and (max-width: 1000px) and (min-width: 768px) {
	.triptych-first{	
		left: -50px;
	}
	.triptych-middle{	
		left: -160px;
	}
	.triptych-last .block {
		left: 10px;
	}
	.triptych2{	
		.triptych-first{	
			left: -70px;
		}	
		.triptych-middle {
		    left: -180px;
		}	
		.triptych-last .block {
		    left: 20px;
		}			
	}

}

@media all and (max-width: 767px) and (min-width: 320px) {
	.triptych2{
		margin: -200px 0 10px 0;
		.triptych-first{
			.block{	
				width: 280px;
				height: 280px;
			}
			h2{
				padding: 60px 20px 0 20px;				
			} 
			.node{
				padding: 0;
			}
			.more-link{
				text-align: center;
			}
		}	
		.triptych-middle{
			left: 0;
			top: 0;
			margin-top: 200px;
			.block{
				border: none;
				width: auto;
				height: auto;	
			}
		}
		.triptych-last{
			padding: 0;
			float: none;
		}
	}
}

ul.social{
	list-style: none;
	li{
		display: inline-block;
	}
	li a{
		width: 100px;
		height: 100px;
		display: inline-block;
		text-indent: -9999px;
		margin-right: 5px;
	}
	li.rss a{
		background: transparent url(../images/rss.png) 0 0 no-repeat;				
	}
	li.twitter a{
		background: transparent url(../images/twitter.png) 0 0 no-repeat;				
	}
	li.facebook a{
		background: transparent url(../images/facebook.png) 0 0 no-repeat;				
	}
}

aside  ul.social{
	li a{
		width: 78px;
		height: 78px;
		background-size: cover !important; 
	}
}

.not-front .section-1{
	padding: 80px 0;
	border-top: 1px solid #000;
	margin-top: 80px;
	section.block{
		width: 46%;
		padding-right: 1%;
		padding-left: 3%;		
		float: left;
	}
	.more-link{
		text-align: center;
	}
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.not-front .section-1{
		padding: 20px 0;
		border-top: 1px solid #000;
		margin-top: 40px;
		section.block{
			width: 100%;
			padding-right: 0;
			padding-left:0;		
			float: left;
		}
	}

}

.front .section-2{
	section.block{
		max-width: 660px;
		margin: auto;
	}
}