
h1{
	margin-top: 30px;
}

h2 a{
	color: #000;
}

a{
}

article.node ul li{
	list-style: none;
	padding-left: 20px;
	background: transparent url(../images/bullit.png) 0 7px no-repeat;
}	
	
article.node ul.contextual-links li{
	background: none;
	padding: 0;	
}

article.node .links li{
	background: none;
	padding: 0;
	display: inline;
}	
	
.view ul li{
	list-style: none;
	padding: 0;
	margin-left: 0;
}	