.top-bar-section .has-dropdown > a:after{
	border-left-color: #000;	
}

.top-bar-section .has-dropdown > a:after{
	margin-top: -5.5px;
}

.title-area h1{
	display: none;
}

#main-menu li{
	a.active-trail,
	a.active{
		background: #000;
		color: $secondary-color;
	}	
	a#doneer{
		background: $secondary-color;
		font-size: 18px;
	}
	a#doneer.active{
		color: #000;
	}
}


@media #{$medium} { 	
	#secondary-menu {
		margin-right: 32px;
	} 
}



.top-bar .toggle-topbar.menu-icon{
	right: 40px;
}



.expanded .top-bar-section ul li > a{
	padding: 6px 0 6px 15px; 
}

.expanded .top-bar-section #secondary-menu{
	padding-bottom: 40px;
	
}